class <%= class_name %>Subscriber
  def report(error, handled:, severity:, context:, source: nil)
    <%= class_name %>.create!(error, severity: severity, context: context)
  end
end

Rails.error.subscribe(<%= class_name %>Subscriber.new)
