class <%= class_name %>Subscriber
  def report(error, handled:, severity:, context:, source: nil)
    # MyErrorReportingService.report_error(error, context: context, handled: handled, level: severity)
    puts "Error Reporting Service"
  end
end

Rails.error.subscribe(<%= class_name %>Subscriber.new)
